.flex-container-pai{
    display: flex;
    justify-content: space-between;/*para espaçar no eixo vertical é preciso definir uma altura*/
    height: 100vh;
}

.red{
    background-color: red;
    width: 5rem;
    height: 5rem;
}
.blue{
    background-color: blue;
    width: 5rem;
    height: 5rem;
}
.green{
    background-color: green;
    width: 5rem;
    height: 5rem;
}
.yellow{
    background-color: yellow;
    width: 5rem;
    height: 5rem;
}

.flex-item{
    flex: 1 1;/*o primeiro número é o flex-grow e o segundo valor é o flex-shrink*/

}

