.flex-container-pai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;/*para espaçar no eixo vertical é preciso definir uma altura*/
    height: 100vh;
}

.red{
    background-color: red;
    width: 5rem;
    height: 5rem;
    flex-grow: 2;
    
}
.blue{
    background-color: blue;
    width: 5rem;
    height: 5rem;
}
.green{
    background-color: green;
    width: 5rem;
    height: 5rem;
}
.yellow{
    background-color: yellow;
    width: 5rem;
    height: 5rem;
}

.flex-item{
    flex-grow: 1;/*o navegador pega o espaço inteiro da div pai e divide no número de elementos que possuem essa classe*/

}
.primeiro{
    flex-grow: 2;
}