.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;/*espaço entre os elementos*/
} 
.cabecalhoPrincipal-nav{
    display: flex;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;/*eixo vertical*/
    justify-content: space-around;/*eixo horizontal*/
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm{
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex ;
}
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;/*colocando um embaixo do outro - em coluna - */
    height: 250px;/*colocando uma altura*/
    flex-wrap: wrap;/*quebrando a coluna quando o conteúdo dos filhos ultrapassarem o tamanho do pai */
   
}
.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width:23%;
    justify-content: space-between;/*horizontal*/
    margin-bottom: 1%;
}


