
/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;/*espaço entre os elementos*/
} 
.cabecalhoPrincipal-nav{
    display: flex;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;/*eixo vertical*/
    justify-content: space-around;/*eixo horizontal*/
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm{
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex ;
}
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;/*colocando um embaixo do outro - em coluna - */
    height: 16rem;/*colocando uma altura*/
    flex-wrap: wrap;/*quebrando a coluna quando o conteúdo dos filhos ultrapassarem o tamanho do pai */
   
}
.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width:23%;
    justify-content: space-between;/*horizontal*/
    margin-bottom: 1%;
}
.videoSobre .container{
    display: flex;

 
}
.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
   flex-grow: 3 ;/*quanto mais cresce a caixa, mais crescre - grow - o elemento*/
}
.videoSobre-sobre-list{
    flex-grow: 1;/*ocupa o espaço vazio*/
}
.videoSobre-video{
    flex-grow: 1;/*ocupa o espaço vazio*/
    flex-shrink: 2;/*o elemento diminue 2 vezes mais do que o normal*/
}

/* PARTE MOBILE */
@media(max-width:769px){
    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }
    .cabecalhoPrincipal .container{
        flex-direction: column;/*quando colocamos o column o alig-items vira eixo horizontal*/
        align-items: initial;/*eixo horizontal*/
        text-align: center;/*texto pro centro*/
    }
    .conteudoPrincipal-cursos {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: initial;/*eixo horizontal*/
    }
    .conteudoPrincipal-cursos-link{
        width: 100vh;
        margin: 1% 0;
    }
    .rodapePrincipal-navMap-list{
       height: auto;
    }
    .rodapePrincipal-patrocinadores .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rodapePrincipal-contatoForm{
        width: 100%;
    
    }
    .rodapePrincipal-patrocinadores-list{
        margin: 0;
        width: 100%;
        align-content: space-between;
    }
    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }
    .cabecalhoPrincipal-nav-link-app{
        order:-1;/*ordenação das coluna/lista*/
    }
    .videoSobre .container{
        display: flex;
        flex-direction: column;
    }
    .videoSobre-video{
        margin: auto;/*alinhando o video*/
    }
    
}
